<md-dialog id='newStatusCard'>
    <form ng-model='newStatusForm' name="newStatusForm" enctype="multipart/form-data" ng-submit = 'submit()'>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Create New Journal</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                    <md-input-container class="md-block">
                        <label>Status</label>
                        <md-select ng-model='selectedStatus' name='selectedStatus' required>
                            <md-option ng-value="status" ng-repeat="status in statusList">
                                {{status}}
                            </md-option>
                        <div ng-messages="newStatusForm.status.$error">
                            <div ng-message='required'>This is required.</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Description</label>
                        <textarea ng-model='description' name='description' md-maxlength="250" rows="3" md-select-on-focus>
                        </textarea>
                        <div ng-messages="newStatusForm.description.$error">
                            <div ng-message='required'>This is required.</div>
                        </div>
                    </md-input-container>

                    <div layout="row">
                        <md-input-container class="md-block" flex="50" ng-show="selectedStatus.toUpperCase() == 'ACCEPTED'">
                            <label>Impact Factor</label>
                            <input ng-model='impactFactor'>
                            <div ng-messages="newStatusForm.impactFactor.$error">
                                <div ng-message='required'>This is required.</div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-block" flex="50" ng-show="selectedStatus.toUpperCase() == 'ACCEPTED'">
                            <label>Quartile Rank</label>
                            <md-select ng-model='selectedQuartileRank'>
                                <md-option ng-value="quartileRank" ng-repeat="quartileRank in quartileRanks">
                                    {{quartileRank}}
                                </md-option>
                            <div ng-messages="newStatusForm.quartileRank.$error">
                                <div ng-message='required'>This is required.</div>
                            </div>
                        </md-input-container>
                   </div>

                    <md-input-container class="md-block">
                        <label>Progress Proof</label>
                        <br>
                        <lf-ng-md-file-input lf-files="progressProof" aria-label="fileupload"></lf-ng-md-file-input>
                    </md-input-container>


                <div>
                    <md-button id='CreateNewStatusSubmit' class='md-raised md-primary' type="submit">Submit</md-button>
                </div>
            </div>
        </md-dialog-content>
        </form>
</md-dialog>