<div class='maximumSize' ng-controller="MainDisplayCtrl" layout="row">
    <md-sidenav class="md-sidenav-left maximumSize" 
        md-component-id="left" 
        md-is-locked-open="$mdMedia('gt-md')"
        md-whiteframe="4" flex='20'>
        <md-sidemenu>
        <md-sidemenu-group>
            <md-sidemenu-content md-heading="Supervision">
                <md-divider></md-divider>
                <md-sidemenu-button href="#" ng-repeat="supervision in supervisions">{{supervision.student.studentName}}</md-sidemenu-button>
                <!--<md-sidemenu-button href="#">All</md-sidemenu-button>-->
                <md-sidemenu-button ng-click=showCreateStudentDialog($event)>
                    <span style="font-weight:bolder">+ Create new supervision</span>
                </md-sidemenu-button>
            </md-sidemenu-content>
        </md-sidemenu-group>
        <md-divider></md-divider>
        </md-sidemenu>
    </md-sidenav>

    <div layout="column" flex>
        <div flex>
            <md-toolbar class="md-hue-3">
                <div class="md-toolbar-tools">
                    <span>Journal Submission Planning</span>
                </div>
            </md-toolbar>

            <md-content>
                <md-list flex>
                    <md-list-item ng-repeat="(key, month) in months">
                        <md-card>
                            <md-card-header md-colors="{background: 'INDIGO'}">
                                <md-card-header-text>
                                    <span class="md-title">{{month}}</span>
                                </md-card-header-text>
                            </md-card-header>
                            <md-list flex>
                                <md-list-item class="md-2-line" ng-repeat="processed in processedPlanJournals.$key ">
                                    <div class="md-list-item-text" layout="column">
                                        <h3>{{processed.student.studentName}}</h3>
                                        <p>{{processed.student.studentID}}</p>
                                    </div>
                                </md-list-item>
                            </md-list>
                        </md-card>
                    </md-list-item>
                </md-list>
            </md-content>
        </div>
    </div>
</div>