<div ng-controller="MainDisplayCtrl">
    <md-toolbar class="md-primary">
                <div class="md-toolbar-tools">
                    <md-button ng-click="toggleLeft()" class="md-icon-button">
                        <md-icon class="material-icons">dehaze</md-icon>
                    </md-button>
                    <h2>
                        <span>{{toolbarTitle}}</span>
                    </h2>
                    <span flex></span>
                    <md-button ng-click="logout()" class="md-icon-button">
                        <md-icon class="material-icons">close</md-icon>
                    </md-button>
                </div>
    </md-toolbar>

    <div class='maximumHeight' layout="row">
        <md-sidenav class="md-sidenav-left maximumHeight" 
            md-component-id="left" 
            md-is-locked-open="$mdMedia('gt-md')"
            ng-show="sideNavIsOpen"
            flex='25'>
            <md-sidemenu>
            <md-sidemenu-group>
                <md-sidemenu-content md-icon="people" md-heading="Supervision" md-arrow="true" ng-click="activateProgressView()">
                    <md-sidemenu-button ng-repeat="supervision in supervisions" 
                        ng-click="callPlannedJournalsGetAPI(supervision.supervisionID)">
                        <md-icon class="material-icons">person</md-icon>
                        {{supervision.student.studentName}}
                    </md-sidemenu-button>
                    <md-sidemenu-button ng-click="callSupervisionsGetAPI(userID)" ng-show="supervisions.length > 0">
                        <md-icon class="material-icons">person</md-icon>
                        All
                    </md-sidemenu-button>
                    <md-sidemenu-button ng-click=showCreateStudentDialog($event)>
                        <md-icon md-font-icon="material-icons">person add</md-icon>
                        <span style="font-weight:bolder">Create new supervision</span>
                    </md-sidemenu-button>
                </md-sidemenu-content>
            </md-sidemenu-group>
            <md-divider></md-divider>
            <md-button ng-click="activateDashboardView()" ng-show='selectedUser.userRole == 1'>
                <md-icon md-font-icon="material-icons">dashboard</md-icon>
                Dashboard
            </md-button>
            </md-sidemenu>
        </md-sidenav>

        <div layout="column" flex>

        <div layout="column" ng-show="viewProgress" flex>

                <md-button class="md-accent md-fab md-fab-bottom-right" ng-click="showCreateJournalPlanDialog($event)" 
                    style="position:fixed !important;" aria-label="description" md-ripple-size="full">
                    <md-icon class="material-icons">add</md-icon>
                    <md-tooltip md-delay="200" md-direction="left" md-autohide="true">
                      Add new journal planning
                    </md-tooltip>
                </md-button>

                <md-content layout-padding flex>
                    <md-expansion-panel ng-repeat="(key, month) in months" ng-show="processedPlannedJournals[month].length != 0" flex>
                        <md-expansion-panel-collapsed>
                            <div class="md-title">{{month}}</div>
                            <div class="md-summary">Number of plan : {{processedPlannedJournals[month].length}}</div>
                        </md-expansion-panel-collapsed>

                        <md-expansion-panel-expanded>
                            <md-expansion-panel-header>
                                <div class="md-title">{{month}}</div>
                                <div class="md-summary">Number of plan : {{processedPlannedJournals[month].length}}</div>
                                <md-expansion-panel-icon></md-expansion-panel-icon>
                            </md-expansion-panel-header>
                               
                            <md-expansion-panel-content> 
                                <div flex>
                                    <md-expansion-panel ng-repeat="processed in processedPlannedJournals[month]">
                                        <md-expansion-panel-collapsed>
                                            <div class="md-title">{{processed.student.studentName}}</div>
                                            <div class="md-summary">Planned Journal : {{processed.plannedNoJournal}}</div>
                                        </md-expansion-panel-collapsed>

                                        <md-expansion-panel-expanded>
                                            <md-expansion-panel-header>
                                                <div class="md-title">Planning Details</div>
                                                <div class="md-summary">Planned Journal : {{processed.plannedNoJournal}}</div>
                                                <md-expansion-panel-icon></md-expansion-panel-icon>
                                            </md-expansion-panel-header>

                                            <md-expansion-panel-content layout="column">
                                                <div flex>
                                                    <form name="planningStudentForm">
                                                        <md-dialog-content>
                                                            <div class="md-dialog-content">
                                                                <md-input-container class="md-block">
                                                                    <label>Student ID</label>
                                                                    <input name='studentID' ng-model='processed.student.studentID' disabled>
                                                                    <!--<div ng-messages="studentForm.studentId.$error">
                                                                        <div ng-message='required'>This is required.</div>
                                                                    </div>-->
                                                                </md-input-container>

                                                                <md-input-container class="md-block">
                                                                    <label>Student Name</label>
                                                                    <input name='studentName' ng-model='processed.student.studentName' disabled>
                                                                    <!--<div ng-messages="studentForm.studentId.$error">
                                                                        <div ng-message='required'>This is required.</div>
                                                                    </div>-->
                                                                </md-input-container>

                                                                <md-input-container class="md-block">
                                                                    <label>Student Type</label>
                                                                    <input name='studentType' ng-model='processed.student.studentType' disabled>
                                                                    <!--<div ng-messages="studentForm.studentId.$error">
                                                                        <div ng-message='required'>This is required.</div>
                                                                    </div>-->
                                                                </md-input-container>
                                                            </div>
                                                        </md-dialog-content>
                                                    </form>
                                                </div>
                                                <div>
                                                    <md-expansion-panel ng-repeat="journal in processed.journals">
                                                        <md-expansion-panel-collapsed>
                                                            <div class="md-title">{{journal.paperName}}</div>
                                                            <div class="md-summary">{{journal.journalName}}</div>
                                                        </md-expansion-panel-collapsed>

                                                        <md-expansion-panel-expanded>
                                                            <md-expansion-panel-header>
                                                                <div class="md-title">Journal Details</div>
                                                                <md-expansion-panel-icon></md-expansion-panel-icon>
                                                            </md-expansion-panel-header>

                                                            <md-expansion-panel-content>
                                                                <div flex>
                                                                    <form name="journalDetailForm">
                                                                        <md-dialog-content>
                                                                            <div class="md-dialog-content">
                                                                                <md-input-container class="md-block">
                                                                                    <label>Title of Paper</label>
                                                                                    <input name='paperName' ng-model='journal.paperName' disabled>
                                                                                    <!--<div ng-messages="studentForm.studentId.$error">
                                                                                        <div ng-message='required'>This is required.</div>
                                                                                    </div>-->
                                                                                </md-input-container>

                                                                                <md-input-container class="md-block">
                                                                                    <label>Journal Name</label>
                                                                                    <input name='journalName' ng-model='journal.journalName' disabled>
                                                                                    <!--<div ng-messages="studentForm.studentId.$error">
                                                                                        <div ng-message='required'>This is required.</div>
                                                                                    </div>-->
                                                                                </md-input-container>

                                                                                <md-input-container class="md-block">
                                                                                    <label>Authors</label>
                                                                                    <input name='authors' ng-model='journal.authors' disabled>
                                                                                    <!--<div ng-messages="studentForm.studentId.$error">
                                                                                        <div ng-message='required'>This is required.</div>
                                                                                    </div>-->
                                                                                </md-input-container>
                                                                                
                                                                                <div layout="row">
                                                                                    <md-input-container class="md-block" flex>
                                                                                        <label>Quartile Rank</label>
                                                                                        <input name='quartileRank' ng-model='journal.quartileRank' disabled>
                                                                                        <!--<div ng-messages="studentForm.studentId.$error">
                                                                                            <div ng-message='required'>This is required.</div>
                                                                                        </div>-->
                                                                                    </md-input-container>

                                                                                    <md-input-container class="md-block" flex>
                                                                                        <label>Impact Factor</label>
                                                                                        <input name='status' ng-model='journal.impactFactor' disabled>
                                                                                        <!--<div ng-messages="studentForm.studentId.$error">
                                                                                            <div ng-message='required'>This is required.</div>
                                                                                        </div>-->
                                                                                    </md-input-container>
                                                                                </div>
                                                                                    <div>
                                                                                        <md-expansion-panel ng-repeat="progress in journal.progress">
                                                                                            <md-expansion-panel-collapsed>
                                                                                                <div class="md-title">{{progress.status}}</div>
                                                                                                <div class="md-summary">
                                                                                                    {{progress.createdDate}}
                                                                                                </div>
                                                                                            </md-expansion-panel-collapsed>

                                                                                            <md-expansion-panel-expanded>
                                                                                                <md-expansion-panel-header>
                                                                                                    <div class="md-title"> Status Details</div>
                                                                                                    <md-expansion-panel-icon> 
                                                                                                    </md-expansion-panel-icon>
                                                                                                </md-expansion-panel-header>

                                                                                                <md-expansion-panel-content>
                                                                                                    <div flex>
                                                                                                        <form name="statusDetailForm">
                                                                                                            <md-dialog-content>
                                                                                                                <div class="md-dialog-content">
                                                                                                                    <md-input-container class="md-block">
                                                                                                                        <label>Status</label>
                                                                                                                        <input name='statusName' ng-model='progress.status' disabled>
                                                                                                                        <!--<div ng-messages="studentForm.studentId.$error">
                                                                                                                            <div ng-message='required'>This is required.</div>
                                                                                                                        </div>-->
                                                                                                                    </md-input-container>

                                                                                                                    <md-input-container class="md-block">
                                                                                                                        <label>Created Date</label>
                                                                                                                        <input name='createdDate' ng-model='progress.createdDate' disabled>
                                                                                                                        <!--<div ng-messages="studentForm.studentId.$error">
                                                                                                                            <div ng-message='required'>This is required.</div>
                                                                                                                        </div>-->
                                                                                                                    </md-input-container>

                                                                                                                    <md-input-container class="md-block">
                                                                                                                        <label>Description</label>
                                                                                                                        <input name='statusDescription' ng-model='progress.description' disabled>
                                                                                                                        <!--<div ng-messages="studentForm.studentId.$error">
                                                                                                                            <div ng-message='required'>This is required.</div>
                                                                                                                        </div>-->
                                                                                                                    </md-input-container>
                                                                                                                    
                                                                                                                </div>
                                                                                                            </md-dialog-content>
                                                                                                        </form>
                                                                                                        </div>


                                                                                                </md-expansion-panel-content>

                                                                                                <md-expansion-panel-footer>
                                                                                                    <div flex></div>
                                                                                                    <md-button class="md-primary" href="http://localhost:8080/apis/file/{{progress.fileMetadata.fileID}}" ng-disabled='progress.fileMetadata == null'>
                                                                                                        Download Proof
                                                                                                    </md-button>
                                                                                                    <md-button class="md-warn" ng-click="$panel.collapse()">Collapse</md-button>
                                                                                                </md-expansion-panel-footer>
                                                                                            </md-expansion-panel-expanded>
                                                                                        </md-expansion-panel>
                                                                                    </div>
                                                                                </div>

                                                                            </div>
                                                            </md-expansion-panel-content>

                                                            <md-expansion-panel-footer>
                                                                <div flex></div>
                                                                <md-button class="md-primary"
                                                                    ng-click="showCreateNewStatusDialog($event,processed.plannedID,journal.journalID,processed.supervisionID)" ng-disabled="journal.progress[0].status.toUpperCase() == 'ACCEPTED'">
                                                                    Update Status
                                                                </md-button>
                                                                <md-button class="md-warn" ng-click="$panel.collapse()">Collapse</md-button>
                                                            </md-expansion-panel-footer>
                                                        </md-expansion-panel-expanded>
                                                    </md-expansion-panel>
                                                </div>
                                            </md-expansion-panel-content>

                                            <md-expansion-panel-footer>
                                                <div flex></div>
                                                <md-button class="md-primary" 
                                                    ng-click="showCreateNewJournalDialog($event,processed.plannedID,processed.supervisionID)"
                                                    ng-disabled="processed.plannedNoJournal <= processed.journals.length">
                                                    New Journal
                                                </md-button>
                                                <md-button class="md-warn" ng-click="$panel.collapse()">Collapse</md-button>
                                            </md-expansion-panel-footer>
                                        </md-expansion-panel-expanded>
                                    </md-expansion-panel>
                                </div>
                            </md-expansion-panel-content>
                            <md-expansion-panel-footer>
                                <div flex></div>
                                <md-button class="md-warn" ng-click="$panel.collapse()">Collapse</md-button>
                            </md-expansion-panel-footer>
                        </md-expansion-panel-expanded>
                    </md-expansion-panel>
                </md-content>
        </div>

        <div layout="row" ng-show="viewDashboard" flex>

            <div flex>

                <md-card>
                    <md-toolbar>
                        <div class="md-toolbar-tools">
                            <h2>Overall monthly progress</h2>
                            <span flex></span>
                        </div>
                    </md-toolbar>
                    <div layout-padding>
                        <canvas id="monthProgressChart" class="chart chart-bar" 
                            chart-data="monthProgressData" chart-labels="monthProgressLabels" chart-series="monthProgressSeries"
                            chart-options="monthProgressOptions" flex>
                        </canvas>
                    </div>
                </md-card>

                <md-card>
                    <md-toolbar>
                        <div class="md-toolbar-tools">
                            <h2>Status</h2>
                            <span flex></span>
                        </div>
                    </md-toolbar>
                    <div layout-padding>
                        <canvas id="statusChart" class="chart chart-bar" 
                            chart-data="statusData" chart-labels="statusLabels" chart-series="statusSeries" chart-options="statusOptions"flex>
                        </canvas>
                    </div>
                </md-card>



                <md-card>
                    <md-toolbar>
                        <div class="md-toolbar-tools">
                            <h2>QuartileRank</h2>
                            <span flex></span>
                        </div>
                    </md-toolbar>
                    <div layout-padding>
                        <canvas id="quartileRankChart" class="chart chart-bar" 
                            chart-data="quartileRankData" chart-labels="quartileRankLabels" chart-series="quartileRankSeries"
                            chart-options="quartileRankOptions" flex>
                        </canvas>
                    </div>
                </md-card>
            </div>

            <md-sidenav class="md-sidenav-right maximumHeight"
                md-component-id="right" 
                md-is-locked-open="$mdMedia('gt-md')"
                ng-show="true"
                flex='25'
                layout-padding>

                <form name="dashboardForm" ng-submit="dashboardSubmit()">
                    <md-input-container class="md-block">
                        <label>Department</label>
                        <md-select ng-model='selectedDepartment' name='selectedDepartment' required>
                            <md-option ng-value="department" ng-repeat="department in departments">
                                {{department}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <div>
                        <md-button class="md-raised md-primary" id='dashboardSearchButton' type="submit">Search</md-button>
                    </div>

                </form>
                
            </md-sidenav>
            
        </div>

        </div>
    </div>
</div>