#loginComponent{
    /*background-color: grey;*/
    background: url("../image/homepage_background_image.jpg") no-repeat center center fixed;
    background-size: 100% 100%;
    overflow-y : hidden;
    height: 100%;
    width: 100%;
}

#mainSector{
    height:100%;
    width: 100%;
}

#newStatusCard{
    width: 70%;
}

#newJournalCard{
    width: 70%;
}

.maximumHeight{
    height: 100%;
}

.maximumWidth{
    width: 80%;
}

.plannedJournals{
    border-top : thin solid black;
    border-bottom: thin solid black;
}

.plannedJournalNo{
    border-left: thick solid black;
}

#superVisionCard{
}

#loginCard{
    width: 30%;
}