#loginComponent{
    background-color: grey;
    height: 100%;
    width: 100%;
}

#mainSector{
    height:100%;
    width: 100%;
}

#newStatusCard{
    width: 70%;
}

#newJournalCard{
    width: 70%;
}

.maximumHeight{
    height: 100%;
}

.maximumWidth{
    width: 80%;
}

.plannedJournals{
    border-top : thin solid black;
    border-bottom: thin solid black;
}

.plannedJournalNo{
    border-left: thick solid black;
}

#superVisionCard{
}

#loginCard{
    width: 30%;
}